////
/// PADDING trump
///
/// This is the padding triumphs styles
////
@if $include__trump--padding{

    @for $i from $sk-trumps-padding-init through $sk-trumps-padding-end{
        $value : $i*$sk-trumps-padding-steps;
/// Padding trump
/// @access public
/// @author Dfront Specialist Team
/// @group trumps
/// @name .t-padding-#{$value}
/// @see sk-trumps-padding-init
/// @see sk-trumps-padding-steps
/// @see sk-trumps-padding-end
/// @since version 1.0.0

        .t-padding-#{$value}{
            padding: #{$value}px !important;
        }

/// Padding top trump
/// @access public
/// @author Dfront Specialist Team
/// @group trumps
/// @name .t-padding-top-#{$value}
/// @see sk-trumps-padding-init
/// @see sk-trumps-padding-steps
/// @see sk-trumps-padding-end
/// @since version 1.0.0

        .t-padding-top-#{$value}{
            padding-top: #{$value}px !important;
        }

/// Padding right trump
/// @access public
/// @author Dfront Specialist Team
/// @group trumps
/// @name .t-padding-right-#{$value}
/// @see sk-trumps-padding-init
/// @see sk-trumps-padding-steps
/// @see sk-trumps-padding-end
/// @since version 1.0.0

        .t-padding-right-#{$value}{
            padding-right: #{$value}px !important;
        }

/// Padding bottom trump
/// @access public
/// @author Dfront Specialist Team
/// @group trumps
/// @name .t-padding-bottom-#{$value}
/// @see sk-trumps-padding-init
/// @see sk-trumps-padding-steps
/// @see sk-trumps-padding-end
/// @since version 1.0.0

        .t-padding-bottom-#{$value}{
            padding-bottom: #{$value}px !important;
        }

/// Padding left trump
/// @access public
/// @author Dfront Specialist Team
/// @group trumps
/// @name .t-padding-left-#{$value}
/// @see sk-trumps-padding-init
/// @see sk-trumps-padding-steps
/// @see sk-trumps-padding-end
/// @since version 1.0.0

        .t-padding-left-#{$value}{
            padding-left: #{$value}px !important;
        }
    }

    /*------------------------------------
     # END TRUMP padding
    ------------------------------------*/

}// end if
