.contactos{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #acacac;
    @include contacts;
}

.contactos-items{
    display: flex;
    flex-direction: column;
    width: 175px;
    line-height: 2;
}

.card--scroll{
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
    padding: 0px 20px;
    overflow-y: scroll;
    max-height: 350px;
}