.header-informacion{
    @include cabecera;
}

.card{
    @include tarjetas;
}

.informacion{
    padding-top: 20px;
}

.card__item{
    display: block;
    color: color(sk-primary);
    font-weight: bold;
}

.card__item--styles{
    display: block;
    color: color(sk-primary);
    padding-top: 20px;
    font-weight: bold;
}

.block-primary{
    display: flex;

    .block-primary__hora{
        @include time;
    }
    .block-primary__textos{
        padding-top: 10px;
        padding-left: 10px;

        .block-primary__textos--color{
            color: color(sk-primary);
            font-weight: bold;
            text-decoration: underline;
            display: block;
        }
    }

    
}

.block-secondary{
    display: flex;
    padding-top: 25px;
    padding-bottom: 20px;

    .block-secondary__hora{
        @include time;
    }
    .block-secondary__textos{
        padding: 10px;

        .block-secondary__textos--color{
            color: #4579b0;
            font-weight: bold;
            text-decoration: underline;
            display: block;
        }
    }

    
}

.informacion-mañana{
    padding: 20px 0px;

    .informacion-mañana__item{
        display: block;
        margin-bottom: 15px;
        color: #4579b0;
    }

    .block-mañana{
        display: flex;

        .block-mañana__hora{
            @include time;
        }
        .block-mañana__textos{
            padding: 10px;

            .block-mañana__textos--color{
                color: #4579b0;
                font-weight: bold;
                text-decoration: underline;
                display: block;
            }
        }

        
    }


}

.desplegable{
    @include ver;

}