.container-listas{
    display: flex;
    justify-content: space-between;
    background-color: #e3e8f2;
}

.container-listas__item{
    padding: 1rem;
}

.container-listas__link{
    color: color(sk-primary);
}

.container-listas__link--styles{
    font-weight: bold;
    color: color(sk-primary);
}

.container-listas__item:first-child{
    border-bottom: 2px solid color(sk-primary);
}

.proyectos{
    @include proyects;

    .container-botones--styles{
        padding-bottom: 2rem;
        display: flex;
        justify-content: space-between;
    }
}