@include media-query(md){
    .cabecera{
        .menu-logo__item{
            display: block;
            font-family: $sk-font-family;
            font-size: 2rem;
            color: color(white-color);
            padding-left: 20px;
        }

        .logo{
            display: none;
        }

        .search__icon{
            display: none;
        }

        .form{
            display: block;

            .form__input{
                padding: 10px;
                width: 250px;
                border-radius: 5px;
                border-style: none;
            
        }
        
    }
}
}