@include media-query(md, lg){
    .cuerpo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column-a, .column-b, .column-c{
        display: flex;
        flex-direction: column;
    }

    .column-a{
        width: 48%;
    }

    .column-b{
        width: 48%;
    }

    .column-c{
        width: 48%;
    }

    .cuerpo__eventos{
        flex-basis: 48%;
        order: -2;
    }

    .cuerpo__notificaciones{
        flex-basis: 48%;
    }

    .cuerpo__mails{
        flex-basis: 48%;
        order: -1;
    }

    .cuerpo__misContactos{
        flex-basis: 48%;
        order: 3;

        .contactos-items{
            width: 165px;
        }
    }

    .cuerpo__proyectos{
        flex-basis: 48%;
        order: 2;

        .container-botones__button--yellow{
            padding: 5px;
        }
    }

    
}
