///*-------------------------------------------------------------------------
//   #SETTINGS CONFIG
//--------------------------------------------------------------------------*/

//	CONTENT THIS FILE:
//		# NAMESPACE
//      # CONFIG - FONTS
//		# BASIC VALUE FOR PROJECT
//      # CONFIG - SETTINGS



///*-------------------------------------------------------------------------
//   	# NAMESPACE
//--------------------------------------------------------------------------*/
$sk				:   sk-;



///*-----------------------------------------------------
///     # CONFIG - FONTS
///-----------------------------------------------------*/
$sk-font-default				: 'Roboto-Regular', Helvetica, sans-serif;
$sk-font-roboto-thin            : 'Roboto-Thin';
$sk-font-roboto-light           : 'Roboto-Light';
$sk-font-roboto-bold            : 'Roboto-Bold';
$sk-font-roboto-black           : 'Roboto-Black';
$sk-font-alternative			: 'Source Sans Pro', verdana;



///*-------------------------------------------------------------------------
//   	# BASIC VALUE FOR PROJECT
//--------------------------------------------------------------------------*/

$sk-font-family          :	$sk-font-default;
$sk-font-size            :	12;
$sk-line-height          :	1.2;
$sk-background-color     :	white;
$sk-path-font            :	"../assets/fonts/";
$sk-path-img             :	"../assets/images/";