@mixin cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: color(sk-primary);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 20px 25px;

    .header-informacion__icon-right{
        color: color(white-color);
    }

    .header-content{
        display: flex;
        align-items: center;
        
        .header-content__icon-left{
            color: color(white-color);
        }
            
        .header-content__title{
            margin-left: 15px;
        }
    }
    
}

@mixin time{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: color(sk-primary);
    border-radius: 50%;
    color: color(white-color);
}

@mixin tarjetas{
    background-color: #ffffff;
    padding: 0px 20px;

}

@mixin ver{
    width: 100%;
    padding: 15px;
    border-top: 1px solid color(sk-secondary);
    color: color(sk-primary);
    font-weight: bold;
    background-color: #ffffff;
    margin-bottom: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@mixin notificaciones{
    padding-top: 2rem;
    .block-notificaciones{
        display: flex;
    }

    .block-notificaciones__text{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        width: 100%;
    }

    .block-notificaciones__icon{
        font-size: 1.5rem;
        color: #a8b061;
    }

    .container-span{
        padding: 1rem 0;
        border-bottom: 1px solid color(sk-secondary);
    }

    .container-span__icon{
        color: color(warning);
    }
}

@mixin correos{
    padding-top: 20px;

    .foto-mails__img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .perfil-mails{
        display: flex;
        align-items: center;
        padding: 10px 0px;

        .perfil-mails__nombre{
            padding-left: 5px;
        }
    }

    .mails__asunto{
        color: color(sk-primary);
        font-weight: 300;
        text-decoration: underline;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .mails__text{
        border-bottom: 1px solid color(sk-secondary);
        overflow: hidden;
        text-overflow: ellipsis;
        height: 4rem;
    }
}

@mixin proyects{
    padding-top: 20px;

    .proyectos__item--style{
        display: block;
        color: color(sk-primary);
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: underline;
    }

    .proyectos__item{
        display: block;
        padding: 10px 0px;    
    }

    .container-botones{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid color(sk-secondary);
    }

    .container-botones__button--yellow{
        background-color: #e8eeb3;
        padding: 10px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.75rem;
    }

    .container-botones__button--white{
        padding: 10px;
        border: 2px solid #e8eeb3;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.8rem;

        
    }


}

@mixin contacts{

    .foto-contactos{
        width: 40px;
    }

    .contactos-info{
        display: flex;
        padding-left: 5px;
    }


    .contactos-items__enlace{
        color: color(sk-primary);
        text-decoration: underline;
        font-weight: bold;
        font-size: 1.1rem;
    }

    .contactos-info__icon{
        font-size: 1.3rem;
        color: color(sk-primary);
        line-height: 2;
    }

}

