////
/// BODY element
///
/// Here we got the body styles
////
body {
	position            		:	relative;
	font-family         		:	$sk-font-alternative;
	color               		:	color(sk-tertiary);
	background-image			: 	url($sk-path-img + 'vista.jpg');
	background-repeat			: 	no-repeat;
	background-size				: 	cover;
	background-color    		:	color(background-c);
	-webkit-text-size-adjust	:	100%;
}