.buscador-perfil{
    display: flex;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;

    .search{
        padding: 0px 10px;
    }

    .notifications{
        padding: 0px 10px;

        .notifications__item{
            width: 20px;
            height: 20px;
            position: absolute;
            border-radius: 50%;
            background-color: #b01818;
            text-align: center;
            line-height: 1.5;
            color: color(background-c);
            top: 1.7rem;
            right: 7.3rem;
        }
    }

    .profile{
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0px 10px;

        .profile__img{
            width: 40px;
            border-radius: 50%;
            border: 1px solid color(white-color);
        }
    }
}