.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    background-image: linear-gradient(to left, #859603, #207e8e 50%, #4579b0, #287d95 0%);
    .menu-logo__icon { font-size: 20px; color: color(white-color); }
    .search__icon { font-size: 20px; color: color(white-color); }
    .notifications__icon { font-size: 20px; color: color(white-color); }
    .buscador-perfil__icon { font-size: 20px; color: color(white-color); padding-right: 15px; }


    // Ocultando Elemento de la cabecera para la versión de movil.
    .menu-logo__item{
        display: none;
    }

    .form{
        display: none;
    }



    .navegacion{
        display: none;
    }
}

