@include media-query(xl, xl){

    .cabecera{

        .navegacion{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 2rem;
        }
    
        .menu-logo__enlace{
            display: none;
        }
    
        .form{
            display: block;
    
            .form__input{
                width: 580px;
            }
        }
    
        .bloque-elementos{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: color(background-c);
        }
    
        .bloque-elementos__icon{
            font-size: 2rem;
            line-height: 1.2;
        }
    
        .lista-navegacion{
            padding: 0 1rem;
        }
    
        .logo-navegacion{
            width: 2.75rem;
        }
    }

}
