@include media-query(xl, xl){

    .cuerpo{
        display: flex;
        // flex-wrap: wrap;
        flex-direction: row;
    }

    .column-a, .column-b, .column-c{
        display: flex;
        flex-direction: column;
    }

    .column-a{
        width: 25%;
    }

    .column-b{
        width: 50%;
    }

    .column-c{
        width: 25%;
    }

    .cuerpo__eventos{
        flex-basis: 22.5%;
        order: -1;
        margin: 0 10px;
    }

    .cuerpo__mails{
        flex-basis: 50%;
        margin: 0 10px;
    }

    .cuerpo__notificaciones{
        flex-basis: 22.5%;
        order: 1;
        margin: 0 10px;
    }

    .cuerpo__proyectos{
        flex-basis: 50%;
        order: 1;
        margin: 0 10px;
    }

    .cuerpo__misContactos{
        flex-basis: 22.5%;
        margin: 0 11px;
    }



}
