@include media-query(lg, xl){
    .cuerpo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .column-a, .column-b, .column-c{
            display: flex;
            flex-direction: column;
        }

        .column-a{
            width: 33%;
            margin: 0 10px;
        }

        .column-b{
            width: 33%;
            margin: 0 10px;
        }

        .column-c{
            width: 33%;
            margin: 0 10px;
        }

    .cuerpo__eventos{
        order: -1;
        margin: 0;
   
    }

    .cuerpo__notificaciones{
        margin: 0 ;
        order: 1;
    }

    .cuerpo__mails{
        margin: 0 ;
    }

    .cuerpo__proyectos{
        margin: 0 ;
        order: 1;
    }

    .cuerpo__misContactos{
        flex-basis: 32%;
        margin: 0 ;
    }

    //
}
